@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



html, body {
  font-family: "Pompiere", serif;
  height: 100%;
  margin: 0; /* Remove default margin */
  min-height: 130%;
  background-image: url('/void.png'); /* Path to your image */
  background-size: cover; /* Make the background cover the full screen */
  /* background-repeat: no-repeat; Prevent repeating */
  background-position: center; /* Center the background image */
}

.pompiere-regular {
  font-family: "Pompiere", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url('');
}

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.input {
  background-color: black; /* Black background for the input */
  color: white; /* White text for better visibility */
  font-size: 35px; /* Bigger text */
  font-family: "Pompiere", serif;
  padding: 15px; /* Spacing inside the input */
  border: 1px solid transparent; /* Transparent initial border */
  border-radius: 10px; /* Smooth, rounded corners */
  outline: none; /* Remove focus outline */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Static faded border effect */
  width: 100%; /* Optional: Make input full width */
  box-sizing: border-box; /* Ensure padding doesn’t affect width */
  opacity: 0.4;
}


.form {
  background-color: black; /* Black background for the input */
  color: white; /* White text for better visibility */
  font-size: 35px; /* Bigger text */
  font-family: "Pompiere", serif;
  padding: 15px; /* Spacing inside the input */
  border: 1px solid transparent; /* Transparent initial border */
  border-radius: 10px; /* Smooth, rounded corners */
  outline: none; /* Remove focus outline */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Static faded border effect */
  width: 40%; /* Optional: Make input full width */
  box-sizing: border-box; /* Ensure padding doesn’t affect width */
  opacity: 0.4;
}

.input::placeholder {
  color: white; /* Placeholder text color */
  font-size: 35px; /* Match the font size of the input text */
  font-family: "Pompiere", serif;
  font-weight: bold;
  opacity: 0.4; /* Adjust opacity for a subtle look */
}